/* GLOBAL ELEMENTS */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
  font-size: 20px;
  background-color: #001528;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
nav {
  padding-left: 15vw;
  padding-top: 120px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #2f0e37;
  background-image:
  linear-gradient(to right, #2f0e37, #021536);
}
a:any-link {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
  color: #a5f0f7;
}
/* .content-wrap {
  max-width: 800px;
  margin: 0 10vw;
} */
/* .col-wide {
  width: 70%;
  float: left;
  padding-left: 20px;
  min-height: 175px;
} */
.header-block {
  height: 240px;
  background-color: #2f0e37;
  background: linear-gradient(-90deg, #021536, #021536, #2f0e37, #d00037, #021536, #2f0e37, #a5f0f7, #2f0e37, #021536, #021536);
	background-size: 400% 800%;
	animation: header-gradient 15s ease infinite normal;
}
h1 {
  color: white;
  font-family: interstate, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.75rem ;
  line-height: 1.75rem;
  letter-spacing: 15px;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
}
h3 {
  font-family: calluna, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.25rem;
  padding-bottom: 25px;
}
p {
  color: white;
  background-color: blue;
  padding: 10px 50px 10px 15vw;
  line-height: 8rem;
  font-family: calluna, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.25rem;
  letter-spacing: 0.75px;
  /* border: 1px solid magenta; */
}

/* GRADIENT BARS:
_________________________________________________*/
.gradient-action1 {
  background-color: #2f0e37;
  background: linear-gradient(to right, #2f0e37, #2f0e37, #2f0e37, #d00037);
  height: 182px;
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
}
.gradient-action1:hover {
  background-color: #d00037;
  background: linear-gradient(to right, #2f0e37, #d00037);
  height: 262px;
}
.gradient-action2 {
  background-color: #2f0e37;
  background: linear-gradient(90deg, #021536, #021536, #315461, #2f0e37, #021536);
  background-size: 200% 200%;
  animation: header-gradient 36s ease infinite;
}
.gradient-regular {
  background-color: #2f0e37;
  background: linear-gradient(90deg, #021536, #2f0e37, #2f0e37);
}
.gradient-reverse {
  background-color: #2f0e37;
  background: linear-gradient(-90deg, #021536, #2f0e37);
}
.highlight-bar {
  height: 15px;
  background-color: #2f0e37;
  background: linear-gradient(to right, #2f0e37, #2f0e37, #a5f0f7);
}
/* GRADIENT ANIMATIONS:
_________________________________________________*/
@keyframes header-gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
  animation-fill-mode:
}
