/* GLOBAL ELEMENTS */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-webkit-font-smoothing: antialiased;
}
html {
  font-size: 20px;
  background-color: #001528;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
nav {
  padding-left: 15vw;
  padding-top: 120px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #2f0e37;
  background-image:
  linear-gradient(to right, #2f0e37, #021536);
}
a:any-link {
  text-decoration: none;
  color: white;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
a:hover {
  text-decoration: none;
  color: #a5f0f7;
}
/* .content-wrap {
  max-width: 800px;
  margin: 0 10vw;
} */
/* .col-wide {
  width: 70%;
  float: left;
  padding-left: 20px;
  min-height: 175px;
} */
.header-block {
  height: 232px;
  background-color: #2f0e37;
  background: linear-gradient(-90deg, #021536, #021536, #2f0e37, #d00037, #021536, #2f0e37, #a5f0f7, #2f0e37, #021536, #021536);
	background-size: 400% 800%;
	animation: header-gradient 15s ease infinite normal;
}
h1 {
  color: #e4e4e4;
  font-family: interstate, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.75rem ;
  line-height: 1.75rem;
  letter-spacing: 15px;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
}
h3 {
  font-family: calluna, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.25rem;
  padding-bottom: 25px;
}
p {
  color: #e4e4e4;
  background-color: blue;
  padding: 10px 50px 10px 15vw;
  line-height: 8rem;
  font-family: calluna, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.25rem;
  letter-spacing: 0.75px;
  /* border: 1px solid magenta; */
}
.empty {
	background-color: #d00037;
	display: inline-block;
	width: 100px;
}
/* GRADIENT BARS:
_________________________________________________*/
.gradient-action1 {
  background-color: #2f0e37;
  background: linear-gradient(to right, #2f0e37, #2f0e37, #2f0e37, #d00037);
}
.gradient-action1r {
  background-color: #2f0e37;
  background: linear-gradient(to left, #2f0e37, #2f0e37, #2f0e37, #d00037);
}
.gradient-action1:hover {
  background-color: #d00037;
  background: linear-gradient(to right, #2f0e37, #d00037);
}
.gradient-action2 {
  background-color: #2f0e37;
  background: linear-gradient(90deg, #021536, #021536, #315461, #2f0e37, #021536);
  background-size: 200% 200%;
  animation: header-gradient 36s ease infinite;
}
.gradient-action3 {
  background-color: #2f0e37;
  background: linear-gradient(90deg, #d00037, #d00037, #2f0e37, #2f0e37, #d00037);
  background-size: 200% 200%;
  animation: header-gradient 5s ease infinite;
}
.gradient-action4 {
  background-color: #2f0e37;
  background: linear-gradient(90deg, #a5f0f7, #021536, #2f0e37, #a5f0f7, #021536);
  background-size: 200% 200%;
  animation: header-gradient 10s ease infinite;
}
.gradient-action5 {
  background-color: #2f0e37;
  background: linear-gradient(90deg, #021536, #021536, #2f0e37, #021536, #2f0e37);
  background-size: 200% 200%;
  animation: header-gradient 5s ease infinite;
}
.gradient-1 {
  background-color: #2f0e37;
  background: linear-gradient(90deg, #021536, #2f0e37, #2f0e37);
}
.gradient-1r {
  background-color: #2f0e37;
  background: linear-gradient(-90deg, #021536, #2f0e37);
}
.gradient-2 {
	background: rgb(47,14,55);
	background: linear-gradient(-90deg, rgba(47,14,55,1) 0%, rgba(0,21,40,1) 43%, rgba(0,21,54,1) 100%);
}
.gradient-2r {
	background: rgb(47,14,55);
	background: linear-gradient(90deg, rgba(47,14,55,1) 0%, rgba(0,21,40,1) 43%, rgba(0,21,54,1) 100%);
}
.highlight-1 {
  height: 15px;
  background-color: #2f0e37;
  background: linear-gradient(to right, #2f0e37, #2f0e37, #a5f0f7);
}
.highlight-2 {
  height: 15px;
  background-color: #2f0e37;
  background: linear-gradient(to left, #021536, #021536, #a5f0f7);
}
::selection {
	background: #a5f0f7;
	color: #021536;
}

/* GRADIENT ANIMATIONS:
_________________________________________________*/
@keyframes header-gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
  animation-fill-mode:
}

/* S screen size */
@media screen and (max-width: 699px) {
	html {
	  font-size: 14px;
		min-width: 320px;
	}
}
